* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

.container {
  max-width: 1360px;
  margin: 0 auto;
}

nav {
  padding: 16px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 32px;
}

.nav-links li a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  font-weight: 500;
}

.nav-links li a:hover {
  color: rgb(24, 125, 24);
}

.btn {
  padding: 12px 16px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 500;
  border: none;
  cursor: pointer;
  color: #ffffff;
}

.nav-btn {
  background-color: #30b868;
}

.common-btn:hover {
  background-color: #256628;
}

.hero {
  width: 100%;
  position: relative;
  height: 674px;
  background: url("./assets/hero-bg.png"), rgba(0, 25, 49, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.content {
  position: relative;
  max-width: 1360px;
  text-align: center;
  color: #e5eef4;
}

.badge {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  padding: 8px 16px;
  background: #ffffff;
  color: #3fae6a;
  border-radius: 999px;
  font-size: 14px;
  font-weight: 600;
}

.dot {
  width: 8px;
  height: 8px;
  background: #4ade80;
  border-radius: 50%;
  box-shadow: 0 0 0 3px rgba(74, 222, 128, 0.25);
}

h1 {
  font-size: 72px;
  line-height: 84px;
  margin: 16px auto;
}

h1 span {
  color: #30b868;
}

p {
  font-size: 18px;
  line-height: 24px;
  color: rgba(255, 255, 255, 1);
  margin-bottom: 32px;
}

.btn-group {
  display: flex;
  gap: 16px;
  justify-content: center;
  flex-wrap: wrap;
}

.secondary-btn {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 1);
}

.secondary-btn:hover {
  background-color: rgb(24, 125, 24);
  color: #fff;
}

#note-section {
  padding-top: 60px;
}

.notes-container {
  max-width: 1360px;
  margin: 0 auto;
  text-align: center;
}

.section-heading h2 {
  font-size: 48px;
  margin-bottom: 16px;
  color: #001931;
}

.section-heading p {
  font-size: 16px;
  color: #627382;
  margin-bottom: 44px;
}

.note-section {
  width: 100%;
  padding: 80px 40px;
  background-color: #fff;
}

.note-box {
  display: flex;
  gap: 24px;
  max-width: 1360px;
  margin: 0 auto;
}

.note-card {
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
  padding: 24px;
  gap: 16px;
  border-radius: 8px;
  text-align: center;
  max-width: 322px;
}

.note-icons {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 36px;
  margin: 0 auto 20px;
  background: rgba(249, 85, 85, 1);
  width: 60px;
  height: 60px;
  color: white;
}

.note-card h3 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 12px;
  color: #001931;
}

.note-card p {
  font-size: 16px;
  color: #627382;
  line-height: 20px;
}

p {
  color: #627382;
  font-size: 16px;
}
#second-brain {
  margin-top: auto;
}

.brain-section {
  padding: 80px 0;
  background: #ffffff;
}

.brain-container {
  max-width: 1360px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 60px;
}

.brain-image img {
  width: 600px;
  height: 600px;
  object-fit: contain;
}

.brain-label {
  color: #30b868;
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 16px;
}

.brain-content h2 {
  font-size: 48px;
  line-height: 58px;
  margin-bottom: 16px;
  color: #001931;
}

.brain-description {
  font-size: 16px;
  color: #627382;
  margin-bottom: 40px;
  max-width: 700px;
}

.brain-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.brain-list li {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  font-size: 16px;
  font-weight: 500;
  color: #0a1f44;
  margin-bottom: 16px;
}

.brain-list img {
  width: 20px;
  height: 20px;
}

.early-access {
  background-color: #f7f6f2;
  padding: 80px 40px;
  text-align: center;
  max-width: 1360px;
  margin: 0 auto;
}

.access-container h2 {
  font-size: 40px;
  font-weight: bold;
  color: rgba(0, 25, 49, 1);
  margin-bottom: 16px;
}

.common-btn {
  display: inline-flex;
  align-items: center;

  background: #30b868;
  color: #ffffff;

  padding: 12px 16px;
  border-radius: 4px;

  font-size: 16px;
  font-weight: 500;

  border: none;
  cursor: pointer;
  gap: 10px;
}

.early-access p {
  margin-bottom: 24px;
}
.access-btn {
  margin-bottom: 10px;
}

.btn-text {
  white-space: nowrap;
}

.btn-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}

.btn-icon img {
  width: 16px;
  height: 16px;
}
