* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

.container {
  max-width: 1360px;
  margin: 0 auto;
}

nav {
  padding: 16px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 32px;
}

.nav-links li a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  font-weight: 500;
}

.nav-links li a:hover {
  color: rgb(24, 125, 24);
}

.btn {
  padding: 12px 16px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 500;
  border: none;
  cursor: pointer;
  color: #ffffff;
}

.nav-btn {
  background-color: #30b868;
}

.nav-btn:hover {
  background-color: #256628;
}
